.container-stepper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-step {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-step-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-step-title span {
  color: #0e8750;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}

.container-stepper svg {
  width: 32px;
  height: 32px;
}

.description {
  border-left: 4px solid #0e8750;
  height: 48px;
  padding-left: 21px;
  margin-left: 13px;
  color: #3f3f55;
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}

.container-stepper .container-step:last-child .description {
  border-left: 4px solid transparent;
}

.outer-circle {
  width: 32px;
  height: 32px;
  border: 1px solid green;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-circle-complete {
  width: 32px;
  height: 32px;
  border: 1px solid green;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 50%;
  position: relative;
}
.inner-circle-white {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}
.inner-circle {
  width: 6px;
  height: 6px;
  background-color: rgba(14, 135, 80, 1);
  border-radius: 50%;
  position: relative;
}

.check {
  position: relative;
  background-image: url("../../assets/confirm-step.svg");
  width: 32px;
  height: 32px;
}

.check::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
