.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(145, 154, 150, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.backdrop form {
  width: 600px;
  padding: 40px 60px 40px 60px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
}

.backdrop form .closer {
  width: 28px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.backdrop form .container-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.backdrop form .container-title img {
  width: 32px;
  height: 32px;
  position: static;
}

.backdrop form .container-title h1 {
  color: #3f3f55;
  font-family: Montserrat;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 33.8px */
}

.backdrop form img:nth-child(2) {
  position: relative;
  left: -250px;
}

.backdrop form .container-inputs {
  margin-top: 10px;
  font-size: 1.6rem;
  align-items: start;
}

.backdrop form .container-inputs label {
  width: 100%;
  text-align: left;
}

.backdrop form .container-inputs input,
.container-cpf-telefone .container-inputs input {
  width: 100%;
  height: 48px;
}

.container-cpf-telefone,
.container-cep-bairro,
.container-cidade-uf {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

form .container-cpf-telefone .container-inputs,
form .container-cep-bairro .container-inputs,
form .container-cidade-uf .container-inputs {
  width: 50%;
  position: relative;
}

.buttons-submit {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
}

.buttons-submit button {
  width: 50%;
  height: 48px;
}
.buttons-submit .btn-cancel {
  border: 3px solid #dedee9;
  background: #f8f8f9;
  color: #0e8750;
}

.radio-buttons label {
  color: #3f3f55;
  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*
  animation: showModal 1s; 
  @keyframes showModal {
    from {
      opacity: 0;
      width: 0;
    }
    to {
      opacity: 1;
      width: 50vw;
    }
  } */

.radio-buttons {
  width: 100%;
  display: flex;

  align-items: flex-start;

  flex-direction: column;
}

.radio-buttons div {
  width: 100%;
  height: 4.8rem;

  padding-left: 10px;
  border-radius: 0.8rem;

  margin: 10px 0 5px 0;
  background-color: #f0f0f5;
  align-items: center;
}
.radio-buttons input[type="radio"] {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 5px;

  background-color: rgba(200, 200, 215, 1);
}

.radio-buttons label {
  cursor: pointer;
  user-select: none;
  width: 200px;
}

/* Estilizar os botões de rádio selecionados */
.radio-buttons input[type="radio"]:checked + .radio-buttons label {
  color: blue; /* Altere a cor conforme desejado */
  font-weight: bold;
}

/* Estilo para o botão de rádio padrão (não selecionado) */
input[type="radio"] {
  /* Oculta a bolinha padrão do botão de rádio */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px; /* Largura da bolinha personalizada */
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-image: url("../../assets/confirm-step.svg");
  display: inline-block;

  border: none;
  background-color: #0e8750;

  background-size: cover;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
